---
import PostCard from "../components/PostCard.astro";
const postImportResult = await Astro.glob("./blog/**/*.md");
const posts = Object.values(postImportResult);
import Layout from "../layouts/main.astro";
---

<Layout
	title="Mastronikos"
	desc="Nick Kakagis' personal website"
	tags="electronics,programming"
>
	<main>
		<div class="row">
			<div class="col">
				<h1>Nikos' Site</h1>
				<p style="font-size: 1.2rem">
					Hi, I'm Nick. I am too old to write my age here, but i know
					some stuff about electronics. I'm new to coding, but i
					decided to try it out, and this is the reason i made this
					website.
				</p>
			</div>
			<div class="col">
				<h1>My Interests</h1>
				<ul>
					<li>Electronics</li>
					<li>Music</li>
					<li>Programming</li>
					<li>Movies</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h1>RSS Feed</h1>
				<p style="font-size: 1.2rem">
					<a href="/rss.xml">Here It Is!</a>
				</p>
			</div>
			<div class="col">
				<h1>Contact Info</h1>
				<a href="mailto:kakagisn@gmail.com">Here Is My Email!</a>
			</div>
		</div>
		<hr />
		<section>
			<h1>Blog Posts</h1>
			{
				posts.map((post) => (
					<PostCard
						title={post.frontmatter.title}
						desc={post.frontmatter.desc}
						url={post.url}
					/>
				))
			}
		</section>
	</main>
</Layout>
